@model ETFTalentProgram.Models.Firma

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Firma</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Naziv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpisFirme)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpisFirme)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lokacija)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lokacija)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Website)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Website)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KontaktEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KontaktEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IndustrijskiSektor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IndustrijskiSektor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VelicinaFirme)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VelicinaFirme)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GodinaOsnivanja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GodinaOsnivanja)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lozinka)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lozinka)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Uloga)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Uloga)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatumRegistracije)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatumRegistracije)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatumZadnjePrijave)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatumZadnjePrijave)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
