@model IEnumerable<ETFTalentProgram.Models.Log>

@{
    ViewData["Title"] = "Pregled logova";
}

<h1>Pregled logova</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TipAkcije)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VrijemeAkcije)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KorisnikId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IpAdresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Detalji)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nivo)
            </th>
            <th>Akcije</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TipAkcije)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VrijemeAkcije)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KorisnikId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IpAdresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Detalji)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nivo)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Detalji</a>
            </td>
        </tr>
}
    </tbody>
</table>
