@model ETFTalentProgram.Models.PrijavaOglas

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PrijavaOglas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatumPrijave)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatumPrijave)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PropratniTekst)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PropratniTekst)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusPrijave)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusPrijave)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatumOdgovora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatumOdgovora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Student)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Student.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Oglas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Oglas.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
